.about-us-container {
    padding: 70px;
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;  
    gap: 30px;
    
  }
  
  .title {
    align-self: center;
  }
  
  h1.title {
    color: #151212;
    text-align: center;
  }
  
  .title span {
    color: #e78124;
  }
  
  .content {
    display: flex;
    gap: 70px;
    align-items: center;
  }
  
  .content p {
    flex: 1;
    color: #000;
  }
  
  .about-us-image {
    flex: 1;
    background-image: url("/public/images/About-us/105340884028a91e92c058cc15eae8ce.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    background-repeat: no-repeat;
    height: 700px;
  
  }
  
  
  /* Contact card css */
  .contact-section {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
  }
  
  .contact-card {
    width: 100%;
    border: 5px solid #d4d4d4;
    box-shadow: 10px 10px 3px -3px #00000030;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 33px;
    gap: 45px;
  }
  
  .contact-card h2 {
    color: #000;
    font-weight: 400  !important;
  }
  
  .form-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .form {
    width: 100%;
  }
  
  .form input,
  textarea {
    padding: 10px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 34px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    gap: 66px;
  }
  
  .submit {
    padding: 8px 16px;
    border-radius: 50px;
    background: var(--secondary);
    border: none;
    cursor: pointer;
  }
  
  .submit-button {
    display: flex;
    justify-content: flex-end;
  }