
.layout-container{
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main{
  padding: 1rem 4rem 12rem;
}

.dfv-img{
  width: 100%;
}

.list-container{
  margin-top: 1%;
  display: flex;
  justify-content: center;
  width: 100%;

}

.impact-links{
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  width: 600px;
  /* margin: auto; */
  font-family: 'DM Sans', sans-serif;
}


