.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background: linear-gradient(
    152deg,
    #eac28d 0%,
    rgba(255, 234, 215, 0) 100%,
    #ffead7 100%
  );
  padding: 1rem 4rem;
}

.menu-items {
  list-style: none;
  display: flex;
  gap: 40px;
}


.logo h1 a{
  color: #e78124;
  font-family: Do Hyeon;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 16%;
}

.logo .ia {
  color: #151212;
}

.nav-links {
  text-decoration: none;
  color: #e78124;
  font-family: Changa;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button {
  border-radius: 50px;
  width: 118px;
  align-self: center;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 20px;

}

.button .nav-links {
  color: #fffbf5;
  font-family: DM Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sign-up {
    background: #E78124;
}

.sign-in {
    background: #000;
}
